.container {
  max-width: max-content;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  &.primary {
    background: var(--green-light);
    color: var(--green);
  }
  &.secondary {
    background: var(--yelow-dark);
    color: var(--grayscale-dark);
  }
  &.alt {
    background: var(--black);
    color: var(--white);
  }
}
