.mainMenu {
  .list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    .item {
      padding: 0.5rem;
      margin-right: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

.container {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.submenu {
  position: absolute;
  left: 0;
  top: 40px;
  list-style-type: none;
  background-color: var(--grayscale-dark);
  color: var(--white);
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.submenu li {
  padding: 0.5rem;
}
