.mainMenu {
  .list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    .item {
      padding: 0.5rem;
      margin-right: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
    }
  }
}

.container {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  justify-content: space-between;
}

.submenu {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  list-style-type: none;
  background-color: var(--grayscale-dark);
  color: var(--white);
  width: 100%;
  display: flex;
  max-width: var(--max-width);
  margin: auto;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  gap: 0.5rem;
}

.submenu li {
  padding: 0.5rem;
}

@media (min-width: 1024px) {
  .container {
    overflow-x: auto;
  }
  .submenu {
    flex-direction: row;
  }
}
