:root {
  --max-width: 82.5rem;

  --red: #d93939;
  --white: #ffffff;
  --black: #000000;

  --foreground: var(--black);
  --background: var(--white);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}

html,
body {
  max-width: 100vw;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}
