.main {
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem 0.5rem 0;
}
.breakingNews {
  display: flex;
  border-radius: 0.5rem;
  border: 0.5rem solid rgba(217, 57, 57, 0.1);
}
.container {
  background: var(--red);
  width: 100%;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.newsList {
  color: var(--white);
  font-size: 0.75rem;
  display: flex;
  gap: 0rem;
  flex-direction: column;
}

.featuredArticles {
  padding: 1rem 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(6rem, auto);

  .card {
    aspect-ratio: auto;
  }
  .card:first-of-type {
    grid-column: 1/2;
    grid-row: 1/3;
  }
}

@media (min-width: 1024px) {
  .newsList {
    gap: 1rem;
    flex-direction: row;
    font-size: 0.875rem;
  }
  .featuredArticles {
    grid-auto-rows: minmax(12rem, auto);
    grid-template-columns: 2fr 1fr;
    padding: 2rem 0;
  }
}
