.container {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 0 0 1.31rem;
  margin-bottom: 1rem;
  border-bottom: 0.125rem solid #4a4a4a;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.footer {
  background-color: var(--grayscale-dark);
  color: var(--white);
  font-size: 0.75rem;
  padding: 2rem 1rem;
}

.footer ul {
  list-style-type: none;
}

.companyDetails {
  margin-top: 1rem;
}

.footerSocial {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.footerMenus {
  display: flex;
  flex-basis: 60%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.footerMenus li {
  padding: 0.5rem;
}

.bottomBar {
  max-width: var(--max-width);
  margin: auto;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.bottomBarLogos {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 1024px) {
  .container {
    align-items: flex-start;
    flex-direction: row;
    text-align: left;
    gap: 0;
  }
  .footerMenus {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: 0;
  }
  .bottomBar {
    flex-wrap: nowrap;
    gap: 0;
  }
  .bottomBarLogos {
    flex-wrap: nowrap;
  }
}
