.topbar {
  background-color: var(--red);
  color: var(--white);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainMenu {
  .list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    .item {
      padding: 0.5rem;
      margin-right: 1rem;
    }
  }
}

.searchContainer {
  .searchInput {
    border: none;
    height: auto;
    padding: 4px;
    font-size: 1rem;
  }
}
